# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# ML Models
backend/pretrained_models/


# Local Storage (if mapped locally)
vault/
storage/
*.webp
*.jpg
*.png
!frontend/src/assets/**
!backend/app/static/**

# Node
node_modules/
dist/
.vite/

# Docker
.docker/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/


